/*
   Import partials below
*/
@import 'normalize';
@import 'fonts';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  font-family: $base-font;
}

.cover-wrapper {
  background-image: url(../img/background-picture.png);
  background-position: center;
  background-size: cover;
  min-height: 1000px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .cover-wrapper {
    background-image: url(../img/background-picture@2x.png);
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  padding-top: 25px;
  line-height: 1;
  font-family: $title-font;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #ffffff
}

.navigation {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  padding-top: 34px;
  height: 20px;

  &__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: $title-font;
    padding-bottom: 10px;
    transition-property: border-bottom, color;
    transition-duration: 200ms;
    transition-timing-function: linear;

    &:hover {
      color: rgb(252, 227, 138);
      border-bottom: 3px solid rgb(252, 227, 138)
    }
  }

  &__svg {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 200ms;
    transition-timing-function: linear;

    &:hover {
      fill: rgb(252, 227, 138);
    }
  }

  &__item:nth-child(-n+6) {
    margin-right: 52px;
  }
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  margin-top: 175px;

  &__pretitle{
    font-family: $special-font;
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
  }
  
  
  &__title {
    width: 900px;
    text-align: center;
    font-family: $title-font;
    font-size: 144px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 34px;
  }
  
  &__button {
    margin-top: 106px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    font-family: $base-font;
    cursor: pointer;
    font-weight: 700;
    width: 160px;
    height: 40px;
  }
}

/*MAIN PART*/

main {
  max-width: 1200px;
  margin: auto;
  margin-top: 45px;
}

.service {
  max-width: 1140px;
  margin: auto;

  &__pretitle {
    @extend %service-team-pretitles;
  }

  &__title {
    @extend %service-team-titles;

    &::after {
      @extend %service-team-after-titles;
    }
  }
}

.service-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 90px;

  &__item {
    display: flex;

    &:nth-child(-n+3) {
      margin-bottom: 100px;
    }
  }

  &__svg {
    fill: rgb(149, 225, 211);
    margin-right: 3px;

    &:hover {
      fill: rgb(243, 129, 129)
    }
  }
}

.service-list-article {
  width: 284px;
  margin-left: 25px;

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px
  }
  
  &__text {
    font-family: $base-font;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    line-height: 1.5
  }
}

/*MAIN SECOND PART*/

.team {
  &__pretitle {
    @extend %service-team-pretitles;
  }

  &__title {
    @extend %service-team-titles;

    &::after {
      @extend %service-team-after-titles;
      margin-bottom: 40px;
    }
  }

  &__text {
    margin: auto;
    width: 980px;
    margin-bottom: 89px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    padding: 0 20px;
  }
}

.team-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.team-item {
  position: relative;
  width: 380px;
  height: 470px;
  background-color: #3dc8ad;
  display: flex;
}

.team-card {
  display: flex;
  position: absolute;
  width: 380px;
  height: 470px;
  top: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;

  &:hover .team-card-social .team-card-social-item__link {
    opacity: 1;
  }

  &:hover {
    transform: translate(-10px,-10px)
  }

  &__image {
    display: block;
    position: absolute;
    width: 380px;
    height: 470px;
    cursor: pointer;
  }  
}

.team-card-social {
  width: 380px;
  height: 470px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  transition-property: background-image;
  transition-duration: 200ms;
  transition-timing-function: linear;

  &:hover {
    background-image: linear-gradient(to top, rgba(252,227,138,0.75), rgba(243,129,129,0.75));
  }
}

.team-card-social-item {
  &__link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: rgb(252, 227, 138);
    opacity: 0;
    margin-right: 1px;
    transition-property: background-color, opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;

    &:hover {
      background-color: rgb(243, 129, 129);
    }

    &:hover .team-card-social-item__icon {
      fill: #ffffff
    }
  }

  &__icon {
    fill: rgb(243, 129, 129);
  }
}

.team-section {
  &__name {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 14px;
    text-align: center;
    margin-top: 27px;
  }

  &__specialization {
    font-family: $base-font;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: #999999;
  }
}

/*FOOTER*/

.footer {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 82px;
  margin-bottom: 28px;
  border-top: 1px solid #cccccc;
  padding: 10px 0 0 0;

  &__copyright {
    margin-right: 504px;
    font-family: $title-font;
    font-size: 14px;
  }

  &__link {
    font-family: $title-font;
    font-size: 14px;
    color: #ff9c9c;
    text-decoration: none;
  }
}

.footer-form {
  display: flex;

  &__input {
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    width: 210px;
    height: 35px;
    padding-left: 15px;
  }

  &__button {
    border: none;
    width: 150px;
    height: 39px;
    background-color: #3dc8ad;
    color: white;
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: 700;
    cursor: pointer;
  }
}