@media (min-width: 768px) {
    .container {
        max-width: 748px;
    }

    .background {
        min-height: 700px;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 36px 22px 0 40px;
    }

    h1 {
        margin-top: 12px
    }

    .cover .title {
        width: 506px;
        font-size: 52px;
        line-height: normal;
        margin-bottom: 24px;
        margin-top: 118px;
    }

    .cover .subtitle {
        margin-bottom: 32px;
        font-size: 24px;
    }

    .cover .button {
        padding: 10px 18px 10px 18px;
    }

    .partners_profile .title {
        width: 748px;
        margin-bottom: 34px;
        margin-top: 66px
    }

    .profile-menu {
        width: 470px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .one {
        order: 1;
    }

    .three {
        order: 2;
    }

    .two {
        order: 3;
    }

    .four {
        order: 4;
    }

    .list-item {
        margin-bottom: 55px;
    }
        
    .list-item:nth-child(2n+2) {
        margin-bottom: 0;
    }

    .partners-button {
        margin-top: 35px;
        margin-bottom: 40px;
        padding: 10px 26px 10px 26px;
    }
}

@media (min-width: 940px) {
    .container {
        max-width: 1440px;
    }

    header {
        margin: auto;
        width: 1020px;
    }

    .profile-menu {
        width: 940px;
        display: flex;
        flex-direction: row;
    }

    .list-item {
        margin-bottom: 0
    }

    h3 {
        width: 1440px
    }
}