@media (min-width: 768px) {
    .container {
        max-width: 748px;
    }

    .background {
       min-height: 700px;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 38px 50px 0 50px;
    }

    h1 {
        margin-top: 8px
    }

    .cover .title {
        width: 506px;
        font-size: 52px;
        line-height: normal;
        margin-bottom: 25px;
        margin-top: 120px;
    }

    .cover .subtitle {
        margin-bottom: 35px
    }

    .cover .button {
        padding: 10px 22px 10px 22px;
    }

    .partners_profile .title {
        width: 748px;
        margin-bottom: 35px;
    }

    .profile-menu {
        width: 490px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .one {
        order: 1;
    }

    .three {
        order: 2;
    }

    .two {
        order: 3;
    }

    .four {
        order: 4;
    }

    .list-item {
        margin-bottom: 60px;
    }
        
    .list-item:nth-child(2n+2) {
        margin-bottom: 0;
    }

    .partners-button {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 10px 28px 10px 28px;
    }
}

@media (min-width: 940px) {
    .container {
        max-width: 1440px;
    }

    header {
        margin: auto;
        width: 940px;
    }

    .profile-menu {
        width: 940px;
        display: flex;
        flex-direction: row;
    }

    .list-item {
        margin-bottom: 0
    }

    h3 {
        width: 1440px
    }
}