* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    max-width: 320px;
    margin: auto;
    height: auto;
}

header {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    padding-top: 20px;
}

h1 {
    line-height: 1;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 120px;
    margin-bottom: 40px;
}

.menu .button {
    padding: 10px 15px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 50px;
}

.menu .button:hover {
    border: 2px solid #ffffff
}

.background {
    min-height: 540px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/background-picture.png);
    background-position: center;
    background-size: cover;
}

.cover .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
}

.cover .subtitle {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 0 50px;
}

.cover {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cover .button {
    border: 2px #ff4e50 solid ;
    border-radius: 50px;
    background-color: transparent;
    padding: 10px 52px 10px 52px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #ff4e50;
}

.partners_profile .title {
    text-align: center;
    width: 268px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1;
    margin-top: 70px;
    margin-bottom: 20px;
}

.profile-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.profile-image-1 {
    position: relative;
    background-image: url(../img/profile-picture-1.png);
    width: 121px;
    height: 121px;
}

.profile-image-2 {
    position: relative;
    background-image: url(../img/profile-picture-2.png);
    width: 121px;
    height: 121px;
}

.profile-image-3 {
    position: relative;
    background-image: url(../img/profile-picture-3.png);
    width: 121px;
    height: 121px;
}

.profile-image-4 {
    position: relative;
    background-image: url(../img/profile-picture-4.png);
    width: 121px;
    height: 121px;
}

.picture-ellipse-1 {
    position: absolute;
    width: 41px;
    height: 41px;
    right: 0;
    bottom: 0;
    background-image: url(../img/ellipse-1.png)
}

.picture-shape-1 {
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url(../img/shape-1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.picture-ellipse-2 {
    position: absolute;
    width: 41px;
    height: 41px;
    right: 0;
    bottom: 0;
    background-image: url(../img/ellipse-2.png)
}

.picture-shape-2 {
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url(../img/shape-2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.picture-ellipse-3 {
    position: absolute;
    width: 41px;
    height: 41px;
    right: 0;
    bottom: 0;
    background-image: url(../img/ellipse-3.png)
}

.picture-shape-3 {
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url(../img/shape-3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.picture-ellipse-4 {
    position: absolute;
    width: 41px;
    height: 41px;
    right: 0;
    bottom: 0;
    background-image: url(../img/ellipse-4.png)
}

.picture-shape-4 {
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url(../img/shape-4.png);
    background-position: center;
    background-repeat: no-repeat;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 214px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 25px;
}

.description {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 22px;
    color: #666666;
}

.partners-button {
    border: 2px #ff4e50 solid ;
    border-radius: 50px;
    background-color: transparent;
    padding: 13px 74px 13px 74px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ff4e50;
    margin-bottom: 57px;
}

.partners_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}