* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(
    to bottom,
    #fcdfca 0%,
    #fcdfca 50%,
    #ff9074 50%,
    #ff9074 100%
  );
  height: 100vh;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
}
/* 
.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Helvetica';
} */

.services-page {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Helvetica';
  margin: auto;
  max-width: 800px;
  height: 100%;
  /* display: flex;
  justify-content: center; */
  padding: 10px 10px 0 10px;
  color: #ffffff;
}

.services-page__table {
  font-size: 12px;
  width: 100%;
}

.price {
  width: 120px;
  text-align: right;
}

th {
  padding-bottom: 15px;
}

td {
  padding-bottom: 10px;
}
