@media (min-width: 768px) {
    .container {
        max-width: 748px;
    }
    
    .cover-wrapper {
        padding-top: 38px;
        min-height: 700px;
    }

    .header .row {
        align-items: center;
    }

    .page-title {
        margin-top: 0;
    }

    .cover .title {
        margin-top: 140px;
        padding: 0;
        font-size: 51px;
        margin-bottom: 27px;
    }

    .cover .subtitle {
        padding: 0;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .team .title {
        margin-top: 67px;
        margin-bottom: 30px
    }

    .cover .button {
        margin-top: 30px;
        padding: 10px 28px 10px 28px;
    }

    .cards {
        margin-bottom: 60px
    }

    .cards:nth-child(n+3) {
        margin-bottom: 0;
    }

    .partners-btn .button {
        margin-top: 41px;
        padding: 10px 28px;
    }

    .holiday-partner-btn .button {
        padding: 12px 30px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .cover .title {
        padding: 0 200px
    }

    .partners-btn .button {
        padding: 10px 28px;
        margin-top: 22px
    }

    .holiday-partner-btn .button {
        padding: 10px 18px;
    }
    
    .team-item {
        margin-bottom: 20px;
    }

    .cover .subtitle {
        font-size: 24px;
    }

    .cards {
        margin-bottom: 0;
    }

    .page-title {
        display: flex;
        justify-content: flex-start
    }

    .navigation {
        display: flex;
        justify-content: flex-end
    }
}