* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.cover-wrapper {
    background-image: url(../img/background-picture.png);
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .cover-wrapper {
        background-image: url(../img/background-picture@2x.png);
    }
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
    padding-top: 25px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 34px;
    height: 20px;
}

.navigation__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    -webkit-transition-property: border-bottom, color;
    -o-transition-property: border-bottom, color;
    transition-property: border-bottom, color;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.navigation__link:hover {
    color: rgb(252, 227, 138);
    border-bottom: 3px solid rgb(252, 227, 138)
}

.navigation__svg {
    fill: #ffffff;
    -webkit-transition-property: fill;
    -o-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.navigation__svg:hover {
    fill: rgb(252, 227, 138);
}

.navigation .navigation__item:nth-child(-n+6) {
    margin-right: 52px;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    margin-top: 175px
}

.box .box__pretitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    line-height: 1
}


.box .box__title {
    width: 900px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 144px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 34px
}

.box .box__button {
    margin-top: 106px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 700;
    width: 160px;
    height: 40px
}
/*MAIN PART*/

main {
    max-width: 1200px;
    margin: auto;
    margin-top: 45px;
}

.service {
    max-width: 1140px;
    margin: auto;
}
.service .service__pretitle {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #333333;
}

.service .service__title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.service__title::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #e59090;
    content: "";
    margin: auto;
    margin-top: 35px;
}

.service-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 90px;
}


.service-list .service-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.service-list__item:nth-child(-n+3) {
    margin-bottom: 100px;
}

.service-list__svg {
    fill: rgb(149, 225, 211);
    margin-right: 3px
}

.service-list__svg:hover {
    fill: rgb(243, 129, 129)
}

.service-list-article {
    width: 284px;
    margin-left: 25px
}

.service-list-article__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px
}

.service-list-article__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    line-height: 1.5
}

/*MAIN SECOND PART*/


.team__organization {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #333333;
}

.team__title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.team__title::after {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #e59090;
    content: "";
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
}

.team__text {
    margin: auto;
    width: 980px;
    margin-bottom: 89px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    padding: 0 20px;
}

.team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
}

.team-item {
    position: relative;
    width: 380px;
    height: 470px;
    background-color: #3dc8ad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 380px;
    height: 470px;
    top: 0;
    left: 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.team-card:hover {
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px)
}

.team-card:hover .team-card-social .team-card-social-item__link {
    opacity: 1;
}


.team-card__image {
    display: block;
    position: absolute;
    width: 380px;
    height: 470px;
    cursor: pointer;
}

.team-card-social {
    width: 380px;
    height: 470px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    -webkit-transition-property: background-image;
    -o-transition-property: background-image;
    transition-property: background-image;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.team-card-social:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138,0.75)), to(rgba(243,129,129,0.75)));
    background-image: -webkit-linear-gradient(bottom, rgba(252,227,138,0.75), rgba(243,129,129,0.75));
    background-image: -o-linear-gradient(bottom, rgba(252,227,138,0.75), rgba(243,129,129,0.75));
    background-image: linear-gradient(to top, rgba(252,227,138,0.75), rgba(243,129,129,0.75));
}

.team-card-social .team-card-social-item__link {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55px;
    height: 55px;
    background-color: rgb(252, 227, 138);
    opacity: 0;
    margin-right: 1px;
    -webkit-transition-property: background-color, opacity;
    -o-transition-property: background-color, opacity;
    transition-property: background-color, opacity;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

.team-card-social-item__link:hover {
    background-color: rgb(243, 129, 129);
}

.team-card-social-item__icon {
    fill: rgb(243, 129, 129)
}

.team-card-social-item__link:hover .team-card-social-item__icon {
    fill: #ffffff
}

.team-section__name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 27px;
}

.team-section__specialization {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: #999999;
}

/*FOOTER*/

.footer {
    margin: auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 82px;
    margin-bottom: 28px;
    border-top: 1px solid #cccccc;
    padding: 10px 0 0 0;
}

.footer__copyright {
    margin-right: 504px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.footer__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ff9c9c;
    text-decoration: none;
}

.footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-form__input {
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    width: 210px;
    height: 35px;
    padding-left: 15px;
}

.footer-form__button {
    border: none;
    width: 150px;
    height: 39px;
    background-color: #3dc8ad;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}